h1,
h2,
h3,
h4,
div {
  font-family: "Roboto", sans-serif;
}


h2 {
  font-size: 2em;
  font-weight: bold;
  color: #303742;
}
h3 {
  font-size: 1.5em;
}

.header-bar {
  margin-bottom: 1.4rem;
  display: inline-block;
  width: 100%;
}

.text {
  font-family: "PT Serif", serif;
  font-size: 1.1em;
  margin: 1.1em 0;
  color: #303742;
}

.article-preview {
  padding-top: 30px;
  padding-bottom: 35px;
}

:root {
  --primary-color: #2967af;
  --dark-color: #395d6b;
}

.article-preview img,
.article-content img {
  max-width: 90%;
  margin: 1em;
}

a {
  color: #4f7fdf;
}

a:hover {
  color: #4069bb;
}
